# Ignore Rebekah's Model File Folder
src/_other/Rebekah/

# Ignore Samuel's Model File Folder
src/_other/Samuel/

# Ignore Master .ENV File
src/.env

# Ignore Entire Other Folder
src/_other/

# Ignore Entire Dump Folder
src/_dump/

# Ignore Bluetooth Device Settings Folder
src/_settings/btSettings/

# Ignore Package Installation Folder
lib/
include/
bin/
.vscode/

# Ignore Backup Folder
src/_Backup/