#########################

#! JARVIS Main System

#########################

cython
datetime
dlib
mediapipe
mysql-connector-python
numpy
ollama
opencv-contrib-python
opencv-python
opencv-python-headless
pandas
playsound
protobuf
pyautogui
pyaudio
pyttsx3
speechrecognition

#########################

#? JARVIS Plugins

#########################

anchormake
bleak
colorama
flask
requests
nanoleafapi
openai
openpyxl
paramiko
pupil-apriltags
pymongo
speedtest
speedtest-cli
spotipy
wikipedia