#########################

#! JARVIS Main System

#########################

cython
datetime
#dlib
mediapipe
mysql-connector-python
numpy
ollama
opencv-contrib-python
opencv-python
opencv-python-headless
pandas
#playsound
pocketsphinx
protobuf
pyautogui
pyaudio
pyttsx3
speechrecognition
python-dotenv

#########################

#? JARVIS Plugins

#########################

anchormake
bleak
colorama
flask
requests
nanoleafapi
openai
openpyxl
paramiko
pupil-apriltags
pyGithub
pymongo
speedtest
speedtest-cli
spotipy
wikipedia