


# GITHUB

GITHUB_API_TOKEN = "TOKEN"

# MYSQL

MYSQL_HOST = "IP"
MYSQL_USER = "USERNAME"
MYSQL_PASSWORD = "USER_PASSWORD"
MYSQL_DATABASE = "SELECTED_DATABASE"

# Weather System

IPINFO_TOKEN = "TOKEN"
OPEN_WEATHER_TOKEN = "API_KEY"

# PROJECT MODE

THINGIVERSE_TOKEN = "TOKEN"